<a href="https://colab.research.google.com/github/San-desh17/Python-basic/blob/python/Python_Basic_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Operators in Python
* Arithmetic Operators
* Relational Operators
* Logical Operators
* Bitwise Operators
* Assignment Operators
* Membership Operators
* Identity Operators

#### Arithmetic Operators

In [ ]:
# +,-,/,*.**,//.%
print(5+6)
print(5-6)
print(5*6)
print(5/2)
print(5//2)
print(5**3)
print(5%2)

11
-1
30
2.5
2
125
1

#### Relational Operators

In [ ]:
# >,<,==,!=,>=,<=
print(4>5)
print(4<5)
print(4>=5)
print(4<=5)
print(4==4)
print(4!=4)

False
True
False
True
True
False

#### Logical Operators

In [ ]:
# and,or,not
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

#### Bitwise operators

In [ ]:
# &,|,^,~,>>,<<
print(2&3)
print(2|3)
print(2^3)
print(~3)
print(4>>2)
print(4<<2)

2
3
1
-4
1
16

#### Assignment Operators

In [ ]:
# =,+=
a=10
a+=10
print(a)

20

## Membership Operators

In [ ]:
# in /not in
print('D' not in 'Delhi')
print(1 in [2,3,4,5,6])

False
False

## Identity Operators

In [ ]:
# is /not is
print(1 is 1)
print(1 is not 2)

True
True

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-11-ed9db87c47e9>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 1)
<ipython-input-11-ed9db87c47e9>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(1 is not 2)

In [ ]:
# Program - Find the sum of 3 digit number entered by the user
num = int(input("Enter the 3 digit number : "))
sum = num%10
num = num//10
sum = sum + (num%10)
num = num//10
sum = sum + num
print("Sum of 3 digit number is : ",sum)

Enter the 3 digit number : 123
Sum of 3 digit number is :  6

#### If else in python

In [ ]:
num = int(input('Enter the number : '))
if num%2 ==0:
    print('Number is even')
else:
    print('Number is odd')

Enter the number : 10
Number is even

Loops in Python

In [ ]:
# for loop
for i in range(1,11):
    print('{a} * 2 = {b}'.format(a=i,b=i*2))

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [ ]:
# while loop
n=10
i=1
while i<=n:
  print('{a} * 2 = {b}'.format(a=i,b=i*2))
  i+=1

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

#### Nested Loop

In [ ]:
# using for loop

for i in range(1,6):
    for j in range(0,i):
        print('*',end='')
    print('')

*
**
***
****
*****

#### Break Statement

In [ ]:
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

#### Continue Statement

In [ ]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10